/* DESKTOP CSS */

/* # pour les id */
/* . pour les class */

html {

    padding     :   0px;
    margin      :   0px;
    width       :   100%;
}

body {
    padding     :   0px;
    margin      :   0px;
    font        :   0.8em Arial, sans-serif;
    display     :   block;

    /* Mozilla Firefox rotation 90
    -moz-transform: rotate(-90deg); */

    /* WebKit rotation 90
    /* -webkit-transform: rotate(-90deg); */

    /* Inernet Explorer rotation 90
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
}

#tabs {
    padding     :   0;
    margin      :   inherit;
    }

#tabs li {
    display     :   inline;
    }

#tabs li a {
    padding     :   10px 0px 10px 0px;
    width       :   45%;

    background: #ccf;
    float:left;
    border-bottom: none;
    text-decoration: none;
    text-align:center;
    color: #000;
    font-weight: bold;

    }

#tabs li.active a {
    background: #eef;
    }

.content {
    float: left;
    clear: both;
    border: 1px solid #ccf;
    border-top: none;
    border-left: none;
    background: #eef;
    padding: 10px 10px 10px 10px;
    width: 100%;
    }

#parameters{
    padding: 3px;
}

#addDescription{

}