<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'>

  <html xmlns='http://www.w3.org/1999/xhtml'>
    {% load staticfiles %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'LETSBOOK/jquery.tabify.js' %}"></script>
    <script type="text/javascript" src="{% static 'LETSBOOK/script.js' %}"></script>

    <!--link rel="stylesheet" type="text/css" href="{% static 'LETSBOOK/desktop.css' %}"__>
    <!-- ICONE POUR UN LIEN SUR UNE PLATE FORME MOBILE (LOOK & FEEL D'UN BOUTON D'APPS) -->
    <!-- link rel="mobile-touch-icon" href="path_to_icon.png" /-->

    <head>
        <title> LAZYBOOK </title>

        <!-- CHARGE UN CSS selon plateforme mobile ou desktop -->
        <meta name="LAZYBOOK" content="Application d'echange de livres entres etudiants"/>
        <link media="only screen and (max-width: 700px)" href="{% static 'LETSBOOK/mobile.css' %}" rel="stylesheet" type="text/css" />
        <link media="only screen and (min-width: 700px)" href="{% static 'LETSBOOK/desktop.css' %}" rel="stylesheet" type="text/css" />

    </head>
    <body>

      <ul id="tabs">
        <li class="active"> <a href="#search">  Acheter/Vendre   </a></li>
        <li>                <a href="#manage"> Mes Livres     </a></li>
        <button type="button" id="parameters">+</button>
      </ul>

      <div class="content" id="search">
            Recherche de livre
      </div>

      <div class="content" id="manage">
            Gestion de livres
      </div>

      <div class="content" id="addDescription">

      </div>
    </body>
  </html>